.profile {
    position: relative;
    text-align: right;   
}
.empty {
    font-size: small;
    line-height: 0.3;
    position: relative;
    margin-top: 15px;
}

.info-box-icon .user-profile-size {
    font-size: 25px;
    margin-top: 15px;
}
.nav-link{
    margin-top: 10px;
}
.dropdown-item:hover{
    background-color: #2c3344;
    color: #fff;
    cursor: pointer;

}
